<div class="grav-redcircle">
    <div class="redcirclePlayer-{{ show_id }}"></div>
    <script async defer onload="redcircleIframe();" src="{{- redcircle_embed_url(show_id, episode_id, player_parameters) -}}"></script>
</div>

